= form_for @email_template do |f|
  .form-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name, class: "form-control", required: true
    = error_span @email_template[:name]
  .form-group
    = f.label :body, class: "control-label"
    .controls
      = f.text_field :body, class: "form-control", required: true
    = error_span @email_template[:body]
  .form-group
    = f.label :subject, class: "control-label"
    .controls
      = f.text_field :subject, class: "form-control", required: true
    = error_span @email_template[:subject]
  = f.submit nil, class: "btn btn-primary"
  = link_to t(".cancel", default: t("helpers.links.cancel")), email_templates_path, class: "btn btn-default"